{include file="public/header" /}

<div class="page">
    <table class="ds-default-table">
      <tbody>
        <tr>
          <td class="w120">{$Think.lang.ds_refund_sn}</td>
          <td>{$refund.refund_sn}</td>
        </tr>
        <tr>
          <td class="w120">{$Think.lang.ds_goods_name}</td>
          <td><a href="{:url('home/goods/index',['goods_id'=>$refund.goods_id])}" target="_blank">{$refund.goods_name}</a></td>
        </tr>
        <tr>
          <td class="w120">{$Think.lang.vrrefund_code_array}</td>
          <td>
              {notempty name="code_array"}
              {foreach name="code_array" item="val" key="key" }
              {$val}<br />
              {/foreach}
              {/notempty}
            </td>
        </tr>
        <tr>
          <td class="w120">{$Think.lang.refund_order_refund}</td>
          <td>{:ds_price_format($refund.refund_amount)}</td>
        </tr>
        <tr>
          <td class="w120">{$Think.lang.vrrefund_buyer_message}</td>
          <td>{$refund.buyer_message}</td>
        </tr>
        <tr>
          <td class="w120">{$Think.lang.vrrefund_admin_state}</td>
          <td>{$refund.admin_state_desc}</td>
        </tr>
        {if $refund.admin_state > 1}
        <tr>
          <td class="w120">{$Think.lang.refund_message}</td>
          <td>{$refund.admin_message}</td>
        </tr>
        {/if}
      </tbody>
    </table>
</div>