{include file="public/header" /}





<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.ds_ownshop}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
  <div class="homepage-focus" dstype="editStoreContent">
      <form id="joinin_form" enctype="multipart/form-data" method="post">
          <input type="hidden" name="member_id" value="{$joinin_detail.member_id}" />
          {if $joinin_detail.store_type != 1}

          <table border="0" cellpadding="0" cellspacing="0" class="store-joinin ds-default-table">
              <thead>
                  <tr>
                      <th colspan="20">{$Think.lang.company_contact_information}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th class="w150">{$Think.lang.company_name}：</th>
                      <td colspan="20"><input type="text" class="txt" name="company_name" value="{$joinin_detail.company_name}"></td>
                  </tr>
                  <tr>
                      <th>{$Think.lang.company_location}：</th>
                      <td><input type="hidden" name="company_address" id="company_address" value="{$joinin_detail.company_address}"></td>
                      <th>{$Think.lang.company_address}：</th>
                      <td><input type="text" class="txt w300" name="company_address_detail" value="{$joinin_detail.company_address_detail}"></td>
                      <th>{$Think.lang.registered_capital}：</th>
                      <td><input type="text" class="txt w72" name="company_registered_capital" value="{$joinin_detail.company_registered_capital}">&nbsp;{$Think.lang.ten_thousand}{$Think.lang.ds_yuan} </td>
                  </tr>
                  <tr>
                      <th>{$Think.lang.contact_name}：</th>
                      <td><input type="text" class="txt" name="contacts_name" value="{$joinin_detail.contacts_name}"></td>
                      <th>{$Think.lang.contact_number}：</th>
                      <td><input type="text" class="txt" name="contacts_phone" value="{$joinin_detail.contacts_phone}"></td>
                      <th>{$Think.lang.e_mail}：</th>
                      <td><input type="text" class="txt" name="contacts_email" value="{$joinin_detail.contacts_email}"></td>
                  </tr>
              </tbody>
          </table>
          <table border="0" cellpadding="0" cellspacing="0" class="store-joinin ds-default-table">
              <thead>
                  <tr>
                      <th colspan="20">{$Think.lang.business_license_information}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th class="w150">{$Think.lang.business_license_number}：</th>
                      <td><input type="text" class="txt" name="business_licence_number" value="{$joinin_detail.business_licence_number}"></td></tr><tr>

                      <th>{$Think.lang.place_business_license}：</th>
                      <td><input type="hidden" name="business_licence_address" id="business_licence_address" value="{$joinin_detail.business_licence_address}"></td></tr><tr>

                      <th>{$Think.lang.validity_business_license}：</th>
                      <td><input type="text" class="txt" name="business_licence_start" id="business_licence_start" value="{$joinin_detail.business_licence_start}"> - <input type="text" class="txt" name="business_licence_end" id="business_licence_end" value="{$joinin_detail.business_licence_end}"></td>
                  </tr>
                  <tr>
                      <th>{$Think.lang.legal_scope_business}：</th>
                      <td colspan="20"><input type="text" class="txt w300" name="business_sphere" value="{$joinin_detail.business_sphere}"></td>
                  </tr>
                  <tr>
                      <th>{$Think.lang.business_license}<br />{$Think.lang.electronic_version}：</th>
                      <td colspan="20">
                          {notempty name="joinin_detail.business_licence_number_electronic"}
                          <a data-lightbox="lightbox-image"  href="{:get_store_joinin_imageurl($joinin_detail['business_licence_number_electronic'])}"> <img src="{:get_store_joinin_imageurl($joinin_detail['business_licence_number_electronic'])}" height="100"/> </a>
                          {/notempty}
                          <input class="w200" type="file" name="business_licence_number_electronic">
                      </td>
                  </tr>
              </tbody>
          </table>

          <table border="0" cellpadding="0" cellspacing="0" class="store-joinin ds-default-table">
              <thead>
                  <tr>
                      <th colspan="20">{$Think.lang.bank_information}：</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th class="w150">{$Think.lang.bank_name}：</th>
                      <td><input type="text" class="txt w300" name="bank_account_name" value="{$joinin_detail.bank_account_name}"></td>
                  </tr><tr>
                      <th>{$Think.lang.company_bank_account}：</th>
                      <td><input type="text" class="txt w300" name="bank_account_number" value="{$joinin_detail.bank_account_number}"></td></tr>
                  <tr>
                      <th>{$Think.lang.name_branch_bank}：</th>
                      <td><input type="text" class="txt w300" name="bank_name" value="{$joinin_detail.bank_name}"></td>
                  </tr>
                  <tr>
                      <th>{$Think.lang.location_bank_account}：</th>
                      <td colspan="20"><input type="hidden" name="bank_address" id="bank_address" value="{$joinin_detail.bank_address}"></td>
                  </tr>
           
              </tbody>

          </table>
          <table border="0" cellpadding="0" cellspacing="0" class="store-joinin ds-default-table">
              <thead>
                  <tr>
                      <th colspan="20">{$Think.lang.settlement_account_information}：</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th class="w150">{$Think.lang.bank_name}：</th>
                      <td><input type="text" class="txt w300" name="settlement_bank_account_name" value="{$joinin_detail.settlement_bank_account_name}"></td>
                  </tr>
                  <tr>
                      <th>{$Think.lang.company_bank_account}：</th>
                      <td><input type="text" class="txt w300" name="settlement_bank_account_number" value="{$joinin_detail.settlement_bank_account_number}"></td>
                  </tr>
                  <tr>
                      <th>{$Think.lang.name_branch_bank}：</th>
                      <td><input type="text" class="txt w300" name="settlement_bank_name" value="{$joinin_detail.settlement_bank_name}"></td>
                  </tr>

                  <tr>
                      <th>{$Think.lang.location_bank_account}：</th>
                      <td><input type="hidden" name="settlement_bank_address" id="settlement_bank_address" value="{$joinin_detail.settlement_bank_address}"></td>
                  </tr>
              </tbody>

          </table>

          {else /}
          <table border="0" cellpadding="0" cellspacing="0" class="store-joinin ds-default-table">
              <thead>
                  <tr>
                      <th colspan="6">{$Think.lang.store_and_contact_info}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th>{$Think.lang.company_name}：</th>
                      <td><input type="text" class="txt" name="company_name" value="{$joinin_detail.company_name}"></td>
                      <th>{$Think.lang.company_location}：</th>
                      <td><input type="hidden" name="company_address" id="company_address" value="{$joinin_detail.company_address}"></td>
                      <th>{$Think.lang.company_address}：</th>
                      <td colspan="3"><input type="text" class="txt w300" name="company_address_detail" value="{$joinin_detail.company_address_detail}"></td>
                  </tr>
                  <tr>
                      <th>{$Think.lang.contact_name}：</th>
                      <td><input type="text" class="txt" name="contacts_name" value="{$joinin_detail.contacts_name}"></td>
                      <th>{$Think.lang.contact_number}：</th>
                      <td><input type="text" class="txt" name="contacts_phone" value="{$joinin_detail.contacts_phone}"></td>
                      <th>{$Think.lang.e_mail}：</th>
                      <td><input type="text" class="txt" name="contacts_email" value="{$joinin_detail.contacts_email}"></td>
                  </tr>
              </tbody>
          </table>
          <table border="0" cellpadding="0" cellspacing="0" class="store-joinin ds-default-table">
              <thead>
                  <tr>
                      <th colspan="20">{$Think.lang.business_license_information}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th class="w150">{$Think.lang.business_license_number}：</th>
                      <td><input type="text" class="txt" name="business_licence_number" value="{$joinin_detail.business_licence_number}"></td></tr><tr>

                      <th>{$Think.lang.place_business_license}：</th>
                      <td><input type="hidden" name="business_licence_address" id="business_licence_address" value="{$joinin_detail.business_licence_address}"></td></tr><tr>

                      <th>{$Think.lang.validity_business_license}：</th>
                      <td><input type="text" class="txt" name="business_licence_start" id="business_licence_start" value="{$joinin_detail.business_licence_start}"> - <input type="text" class="txt" name="business_licence_end" id="business_licence_end" value="{$joinin_detail.business_licence_end}"></td>
                  </tr>
                  <tr>
                      <th>{$Think.lang.legal_scope_business}：</th>
                      <td colspan="20"><input type="text" class="txt w300" name="business_sphere" value="{$joinin_detail.business_sphere}"></td>
                  </tr>
                  <tr>
                      <th>{$Think.lang.business_license}<br />{$Think.lang.electronic_version}：</th>
                      <td colspan="20">
                          {notempty name="joinin_detail.business_licence_number_electronic"}
                          <a data-lightbox="lightbox-image"  href="{:get_store_joinin_imageurl($joinin_detail['business_licence_number_electronic'])}"> <img src="{:get_store_joinin_imageurl($joinin_detail['business_licence_number_electronic'])}" height="100"/> </a>
                          <input class="w200" type="file" name="business_licence_number_electronic">
                          {/notempty}
                      </td>
                  </tr>
              </tbody>
          </table>


          <table border="0" cellpadding="0" cellspacing="0" class="store-joinin ds-default-table">
              <thead>
                  <tr>
                      <th colspan="2">{$Think.lang.store_alipay_info}：</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th>{$Think.lang.store_alipay_account_name}：</th>
                      <td><input type="text" class="txt w300" name="settlement_bank_account_name" value="{$joinin_detail.settlement_bank_account_name}"></td>
                  </tr>
                  <tr>
                      <th>{$Think.lang.store_alipay_account_number}：</th>
                      <td><input type="text" class="txt w300" name="settlement_bank_account_number" value="{$joinin_detail.settlement_bank_account_number}"></td>
                  </tr>
              </tbody>

          </table>
   {/if}
          <div><input class="btn" type="submit" value="{$Think.lang.ds_submit}"/></div>
      </form>
</div>
</div>
<link rel="stylesheet" href="{$Think.PLUGINS_SITE_ROOT}/js/jquery.lightbox/css/lightbox.min.css">
<script src="{$Think.PLUGINS_SITE_ROOT}/js/jquery.lightbox/js/lightbox.min.js"></script>
<script type="text/javascript">
$(function(){
    $("#company_address").ds_region();
    $("#business_licence_address").ds_region();
    $("#bank_address").ds_region();
    $("#settlement_bank_address").ds_region();
    $('#business_licence_start').datepicker({dateFormat: 'yy-mm-dd'});
    $('#business_licence_end').datepicker({dateFormat: 'yy-mm-dd'});

    
    $('#joinin_form').validate({
        errorPlacement: function(error, element){
            error.appendTo(element.parentsUntil('tr').parent().find('td:last'));
        },
        rules : {
              business_licence_start:{
                required: true,
              }
        },
        messages : {
            business_licence_start:{
                required: '{$Think.lang.business_licence_start_required}',
            }
        }
    });
    
});
</script>